# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# https://www.prisma.io/docs/orm/reference/connection-urls
# https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding
# P@ssword become P%40ssword
DATABASE_1_URL="mysql://root:password@localhost:3306/dbauth?schema=public"

# openssl rand -hex 32
NEXTAUTH_SECRET=6a8cee472226f28114d50988caa1ec40d54707c651dec1093354d732e9b0acf9
NEXTAUTH_URL=http://localhost:3000

# google secret
GOOGLE_CLIENT_ID="YOURCLIENTID.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="YOUR-CLIENTSECRET"